// FONTS
$font-big: 2.375rem; // 38px
$font-standard: 1.75rem; // 28px
$font-mid: 1.25rem; // 20px
$font-small: 0.75rem; // 12px
$font-mini: 0.625rem; // 10px

// COLORS
$border-color: #fff;
$mainFont-color: #fff;
$background-blur: linear-gradient(180deg, #333333 0%, rgba(0, 0, 0, 0.2) 100%);
$secondBtn-color: #15854dad; ;
